body {
background-image: url("../img/cover.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
font-family: "Press Start 2P"
}

#track {
  height: 650px;
  width: 900px;
  background-image: url("../img/track.png");
  position: absolute;
  margin-left: 15%;
  margin-top: 5%;
  border: 10px black solid;
  position: fixed;

}

.car {
  position: absolute;
  height: 33px;
  width: 60px;
  /*background-image: url("../img/player1.png");*/
  background-size: 60px 33px;
}

#car-player1 {
  background-image: url("../img/player1.png");
}


#car-player2 {
  background-image: url("../img/player2.png");
}

.wall {
  position: absolute;
  background-color: black;
}

#wall-1 {
  position: absolute;
  height: 300px;
  width: 20px;
  left: 450px;
}

#wall-2 {
  position: absolute;
  height: 300px;
  width: 20px;
  left: 200px;
  top: 150px;
}

#wall-3 {
  position: absolute;
  height: 300px;
  width: 20px;
  left: 680px;
  top: 150px;
}

#wall-4 {
  position: absolute;
  height: 20px;
  width: 500px;
  left: 200px;
  top: 450px;
}

#finish-line-1 {
  position: absolute;
  height: 180px;
  width: 5px;
  background-color: white;
  left: 390px;
  top: 470px;
}

#finish-line-2 {
  position: absolute;
  height: 180px;
  width: 5px;
  background-color: white;
  left: 420px;
  top: 470px;
}

.laps {
  position: absolute;
  height: 180px;
  width: 100%;
  margin-left: 15%;
  position: fixed;
}

#laps-p1 {
  height: 180px;

}

#laps-p2 {
  height: 180px;

}
