body {

}

#track {
  height: 650px;
  width: 900px;
  background-color: darkgrey;
  position: absolute;
  margin-left: 15%;
  margin-top: 5%;
  border: 10px black solid;
}

.car {
  position: absolute;
  height: 30px;
  width: 60px;
  background-color: black;
  border-left: 5px black solid;

}

#car-player1 {
  position: absolute;
  background-color: red;
  left: 450px;
  top: 520px;
}

#car-player1-rot {
  position: absolute;
  background-color: blue;
}

/*#car-player2 {
  position: absolute;
  background-color: green;
  left: 450px;
  top: 580px;
}*/

.wall {
  position: absolute;
  background-color: black;
}

#wall-1 {
  position: absolute;
  height: 300px;
  width: 10px;
  left: 450px;
}

#wall-2 {
  position: absolute;
  height: 10px;
  width: 600px;
  left: 150px;
  top: 450px;
}

#wall-3 {
  position: absolute;
  height: 300px;
  width: 10px;
  left: 150px;
  top: 150px;
}

#wall-4 {
  position: absolute;
  height: 300px;
  width: 10px;
  left: 740px;
  top: 150px;
}
