body {

}

#track {
  height: 650px;
  width: 900px;
  background-color: darkgrey;
  position: absolute;
  margin-left: 15%;
  margin-top: 5%;
  border: 10px black solid;
}

.car {
  position: absolute;
  height: 33px;
  width: 60px;
  background-image: url("../img/player1.png");
  background-size: 60px 33px;
}

/*#car-player1 {
  position: absolute;
  left: 450px;
  top: 520px;
  transform: rotate(0deg);
  background-image: url("../img/player1.png");
  background-size: 64px 64px;
  height: 64px;
  width: 64px;
}*/


/*#car-player2 {
  position: absolute;
  background-color: green;
  left: 450px;
  top: 580px;
}*/

.wall {
  position: absolute;
  background-color: black;
}

#wall-1 {
  position: absolute;
  height: 300px;
  width: 20px;
  left: 450px;
}

#wall-2 {
  position: absolute;
  height: 20px;
  width: 500px;
  left: 200px;
  top: 450px;
}

#wall-3 {
  position: absolute;
  height: 300px;
  width: 20px;
  left: 200px;
  top: 150px;
}

#wall-4 {
  position: absolute;
  height: 300px;
  width: 20px;
  left: 680px;
  top: 150px;
}
